spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true

security:
  jwt:
    token:
      secret-key: fjhbewhjbrfkelwdvhkewjkbwd
      expire-length: 3600000

payment:
  toss:
    secret-key: test
    confirm-url: https://api.tosspayments.com/v1/payments/confirm
    timeout: 100
    max-retry: 3

cors:
  allowed-origin: http://localhost:3000
