logging:
  config: classpath:logback-spring-${spring.profiles.active}.xml

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET_KEY}
      expire-length: 3600000

payment:
  toss:
    secret-key: ${PAYMENT_SECRET_KEY}
    confirm-url: https://api.tosspayments.com/v1/payments/confirm
    timeout: 3000
    max-retry: 3

cors:
  allowed-origin: ${ALLOWED_ORIGIN}

cloud:
  aws:
    s3:
      bucket: woowa-camp-4
    region:
      static: ap-northeast-2
    stack:
      auto: false

spring:
  servlet:
    multipart:
      max-file-size: 5MB

management:
  server:
    port: ${ACTUATOR_PORT}
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: ${ACTUATOR_BASE_PATH}



server:
  tomcat:
    mbeanregistry:
      enabled: true
    threads:
      max: 200 # 생성할 수 있는 thread의 총 개수
      min-spare: 100 # 항상 활성화 되어있는(idle) thread의 개수
    max-connections: 8192 # 수립가능한 connection의 총 개수
    accept-count: 1000 # 작업큐의 사이즈
    connection-timeout: 20000 # timeout 판단 기준 시간, 20초
  port: 8080 # 서버를 띄울 포트번호
