# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CD with Gradle

on:
  push:
    branches: [ "infra/20" ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: dev
    steps:
      - name: Clone code from repository
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'corretto'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25
        with:
          arguments: bootJar

      - name: Let script executable
        run: chmod 755 scripts/run.sh

      - name: Run java application
        run: ./scripts/run.sh
        env:
          RUNNER_TRACKING_ID: ""
          PAYMENT_SECRET_KEY: ${{secrets.payment-secret-key}}
